body {
	background-color: black;
	color: white;
}
button {
	width: 200px;
	border: none;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.4s ease;
}
 button:hover {
	background-color:blue;
	color: gold;
}
img {
	border-left: solid 2px white;
	width: 140px;
	height: 140px;
	display: block;
}
.div1 {
	border: solid 2px white;
	display: flex;
	align-items: center;
	gap: 10px;
}
.divT {
	flex: 1;
	padding-left: 4px;
}
.Pa {
	padding: 2px;
}
#a {
	color: red;
}
#aT {
	color: blue;
}
#s {
	color: blue;
	background-color: yellow;
	border-radius: 5px;
}
#e {
	color: white;
	background-color: blue;
}
#r {
	color: gray;
	background-color: white;
	border-radius: 5px;
}
#k {
	color: green;
	background-color: white;
	border-radius: 5px;
}
#f {
	color: orange;
	background-color: white;
	border-radius: 5px;
}
#v {
	color: orange;
	background-color: white;
	border-radius: 5px;
}
#Ev {
	color: orange;
	background: white;
	border-radius: 5px 0 0 5px;
	padding-left: 2px;
}
#Ev1 {
	color: green;
	background-color: white;
	border-radius: 0 5px 5px 0;
	padding-right: 2px;
}
#N {
	color: green;
	background-color: white;
	border-radius: 5px;
}

