body {
	background-image: url("https://lh6.googleusercontent.com/hJi0-q11aRXd7Tnjk-91A3QqLSmmsoSkg5dII7CtglBobC0Y1VmiGDj9zYkvWWXzhziFX3-JGo5nUbPpL7jgFNa_S_13w_EWfm-2QhMdpP0F5BphyjJ__kkSOSUJCdyp0ob6vKER__oRAtGGY83pyUw");
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;                
    margin: 0;
	height: 100hv;
	color: white;
	backdrop-filter: blur(5px) brightness(60%);
	padding: 0;
}
h1 {
	background-color: yellow;
	color: blue;
	text-align: center;
}
p {
	font-size: 20px;
	padding: 0 10px 0 10px;
}
#div1 {
	border: solid 2px white;
}
#div2 {
	border: solid 2px white;
	height: 30px;
	padding: 10px 10px 5px 10px;
	width: 440px;
}
button {
	color: black;
	border: none;
	background-color: white;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.4s ease;
}
button:hover {
	background-color: blue;
	color: yellow;
}
html, body {
	height: 100%;
}
